<!DOCTYPE html>
<html>
<head>
  <title>Quiz Stuff</title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="layout.css">
  <script src='welcome-bundle.js'></script>
</head>
<body>
  <div id ="container">
    <div id = "header">
      <h1>Welcome back in the 90's</h1>
    </div>
    <div id = "quiz_field">
      <ul id="quiz">
      </ul>
      <div id="main">
        <div id ="buttons">
        </div>
        <div id ="welcome_content">
        WELCOME GREETING
        </div>
        <div id = "game">
        GAME
        <div id="question">
        QUESTION
        </div>
        <div id = "options">
        POSSIBLE CHOICES
        </div>
        </div>
      </div>
    </div>
    <iframe src="https://embed.spotify.com/?uri=https://open.spotify.com/user/spotify/playlist/2uAichKSjJSyrmal8Kb3W9&view=coverart" width="400" height="80" frameborder="0" allowtransparency="true"></iframe>
  </div>
</body>
</html>
